
.banner {

  background-image: url(cowboy.jpg);
  background-position: center;
  background-size: cover;
  height: 60vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  background-repeat: no-repeat;
  margin: auto;
}

.banner-text {
  font-family: 'Cheltenham LT',sans-serif;
  color: white;
  font-size: 50rem;
  text-align: center;
}